@model Synapse.Data.ViewModels.ViewClassVM

@{
    ViewData["Title"] = "View Class";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="width: 75%; margin-left: auto; margin-right: auto;">
    <div>
        <h1 class="title" style="font-weight: normal;">Viewing class <span class="has-text-weight-bold">@Model.ClassName</span></h1>
        <hr>
        <div class="columns">
            <div class="is-full" style="width: 100%; margin-bottom: 2rem;">
                <div class="card">
                    <partial name="~/Views/Admin/_DeleteClassVerification.cshtml" />
                    @using (Html.BeginForm("EditClassInfo", "Admin", FormMethod.Post))
                    {
                        <div style="padding: .75rem;">
                            <div class="columns">
                                <div class="column">
                                    <p class="title">Class Information</p>
                                </div>
                                <div class="column">
                                    <div class="is-pulled-right-desktop is-marginless" id="btns">
                                        <button id="deleteBtn" type="button" class="button is-danger deleteBtn" onclick="deleteClassVerification()">Delete</button>
                                        <button type="button" id="editBtn" class="button is-primary">Edit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="is-marginless">
                        <div class="card-content" id="card-content">
                            <div class="content">

                                <partial name="~/Views/Admin/_EditTeacher.cshtml" />
                                <span id="teacherLabel" class="has-text-weight-bold">Teacher:</span>
                                <div id="teacher">@Model.TeacherFullName</div>
                                <div id="modalButtonDiv" hidden>
                                    <button id="modalButton" type="button" class="button is-primary modalClose">Select Different Teacher</button>
                                </div>
                                <span id="locationLabel" class="has-text-weight-bold">Location:</span>
                                <div id="location">@Model.Location</div>
                                <span id="periodLabel" class="has-text-weight-bold">Period:</span>
                                <div id="period">@Model.Period</div>
                                <span id="studentsLabel" class="has-text-weight-bold">Assigned Students:</span>
                                <div>@Model.EnrolledStudents.Count</div>
                                <input name="classid" hidden value="@Model.ClassId" />
                                <input id="teacherid" name="teacherid" hidden value="@Model.TeacherId" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="columns is-desktop">
        <div class="column is-full has-text-centered">
            <p class="title">Enrolled Students</p>
            @if (Model.EnrolledStudents.Count == 0)
            {
            <p>No students are enrolled in this class!</p>
            }
            else
            {
            <table id="studentsTable" class="table" style="width: 100%;">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Grade in Class</th>
                        <th>Grade Level</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @for(int studentIndex = 0; studentIndex < Model.EnrolledStudents.Count; studentIndex++)
                    {
                    <tr>
                        <td>@Model.EnrolledStudents[studentIndex].StudentFirstName</td>
                        <td>@Model.EnrolledStudents[studentIndex].StudentLastName</td>
                        <td>@Model.StudentAverages[studentIndex]%</td>
                        <td>@Model.EnrolledStudents[studentIndex].GradeLevel</td>
                        <td>
                            <a class="button is-primary is-small" asp-area="" asp-controller="Admin" asp-action="ViewStudent" asp-route-studentid="@Model.EnrolledStudents[studentIndex].StudentId">
                                View
                            </a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
            }
        </div>
    </div>
</div>

<script src="~/js/editClass.js"></script>   