@model Synapse.Data.ViewModels.ViewReferralVM

@{
    ViewData["Title"] = "ViewReferral";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container has-text-centered" style="width: 65%; margin-left: auto; margin-right: auto;">
        <div>
            <h1 class="title" style="font-weight: normal;">Viewing referral <span class="has-text-weight-bold">ID @Model.ReferralId</span> for <span class="has-text-weight-bold">@Html.DisplayFor(modelItem => Model.StudentFirstName) @Html.DisplayFor(modelItem => Model.StudentLastName)</span></h1>
            <div class="card" style="width: 50%; margin:auto;">
                <div class="card-content">
                    <div class="content">
                        <p class="is-size-5">
                            <span class="has-text-weight-bold">@Html.DisplayFor(modelItem => Model.DateIssuedString)</span> by
                            <span class="has-text-weight-bold">@Html.DisplayFor(modelItem => Model.TeacherFullName)</span>
                        </p>
                        <p class="is-size-6">
                            <span>"@Html.DisplayFor(modelItem => Model.Description)"</span>
                        </p>
                    </div>
                </div>
            </div>
            <!--If the Referral has already been handled, don't display "Mark as Handled" button-->
            @if (!Model.Handled)
            {
                @using (Html.BeginForm("MarkAsHandled", "Admin", FormMethod.Post))
                {
                    <button class="button is-primary" type="submit" name="MarkAsHandledButton">
                        Mark as Handled
                    </button>
                    <input id="referralid" name="referralid" hidden value="@Model.ReferralId" />
                }
            }

            <hr />
        </div>
    </div>

    <div class="container has-text-centered">
        <h1 class="title" style="font-weight: normal;">Other referrals for <span class="has-text-weight-bold">@Html.DisplayFor(modelItem => Model.StudentFirstName) @Html.DisplayFor(modelItem => Model.StudentLastName)</span></h1>
        <div class="is-centered">
            <table class="table" style="width: 65%; margin-left: auto; margin-right: auto">
                <thead>
                    <tr>
                        <th>Student Name</th>
                        <th>Teacher Name</th>
                        <th>Date</th>
                        <th>ID</th>
                        <th>Description</th>
                        <th>Handled</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var otherReferral in Model.OtherReferrals)
                    {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => otherReferral.StudentFullName)</td>
                        <td>@Html.DisplayFor(modelItem => otherReferral.TeacherFullName)</td>
                        <td>@Html.DisplayFor(modelItem => otherReferral.DateIssuedString)</td>
                        <td>@Html.DisplayFor(modelItem => otherReferral.ReferralId)</td>
                        <td>@Html.DisplayFor(modelItem => otherReferral.DescriptionTruncated)</td>
                        <td>@Html.DisplayFor(modelItem => otherReferral.Handled)</td>
                        <td>
                            <a asp-area="" asp-controller="Admin" asp-action="ViewReferral" asp-route-referralid=@otherReferral.ReferralId>
                                <button class="button is-primary is-small">
                                    View
                                </button>
                            </a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>