@model List<AGGS.ViewModels.ReferralVM>

@{
    ViewData["Title"] = "Referrals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container has-text-centered">
    <h1 class="title">View Referrals</h1>
    <h2 class="subtitle">
        View and search through unread referrals.
    </h2>

    <div class="is-centered">

        <table class="table" style="width: 65%; margin-left: auto; margin-right: auto">
            <thead>
                <tr>
                    <th>Student Name</th>
                    <th>Teacher Name</th>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Handled</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudentFullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TeacherFullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateIssuedString)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DescriptionTruncated)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Handled)
                    </td>
                    <td>
                        <a asp-area="" asp-controller="Admin" asp-action="ViewReferral" asp-route-referralid=@item.ReferralId>
                            <button class="button is-primary is-small">
                                View
                            </button>
                        </a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>