@model AGGS.ViewModels.ViewClassVM

@{
    ViewData["Title"] = "ViewClass";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container" style="width: 65%; margin-left: auto; margin-right: auto;">
        <div>
            <h1 class="title" style="font-weight: normal;">Viewing class <span class="has-text-weight-bold">@Model.ClassName</span></h1>
            <hr>
            <div class="columns">
                <div class="is-full" style="width: 100%; margin-bottom: 2rem;">
                    <div class="card">
                        <div style="padding: .75rem;">
                            <div class="columns">
                                <div class="column">
                                    <p class="title">Class Information</p>
                                </div>
                                <div class="column">
                                    <button class="button is-primary is-pulled-right-desktop is-marginless">Edit</button>
                                </div>

                            </div>
                        </div>
                        <hr class="is-marginless">
                        <div class="card-content">
                            <div class="content">
                                <span class="has-text-weight-bold">Teacher:</span> @Model.TeacherFullName
                                <br>
                                <span class="has-text-weight-bold">Location:</span> @Model.Location
                                <br>
                                <span class="has-text-weight-bold">Period:</span> @Model.Period
                                <br>
                                <span class="has-text-weight-bold">Assigned Students:</span> @Model.EnrolledStudents.Count
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns is-desktop">
            <div class="column is-full has-text-centered">
                <p class="title">Enrolled Students</p>
                <table id="studentsTable" class="table" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Grade in Class</th>
                            <th>Grade Level</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var student in Model.EnrolledStudents)
                        {
                            <tr>
                                <td>@student.StudentFirstName</td>
                                <td>@student.StudentLastName</td>
                                <td>Grade Percent</td>
                                <td>@student.GradeLevel</td>
                                <td>
                                    <a class="button is-primary is-small">
                                        View
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>