@model AGGS.ViewModels.ViewReferralVM

@{
    ViewData["Title"] = "ViewReferral";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container has-text-centered" style="width: 65%; margin-left: auto; margin-right: auto;">
        <div>
            <h1 class="title" style="font-weight: normal;">Viewing referral for <span class="has-text-weight-bold">@Model.StudentFirstName @Model.StudentLastName</span></h1>
            <h1 class="subtitle" style="font-weight: normal;">Issued on 
                <span class="has-text-weight-bold">@Model.DateIssuedString</span> 
                by 
                <span class="has-text-weight-bold">@Model.TeacherFullName</span>
            </h1>
            <h1 class="subtitle" style="font-weight: normal;">Description: 
                <span class="has-text-weight-bold">"@Model.Description"</span>
            </h1>

            <a class="button is-primary">
                Mark as Handled
            </a>

            <hr />
        </div>
    </div>

    <div class= "container has-text-centered" style="width: 65%; margin-left: auto; margin-right: auto;">
        <span class="title" style="font-weight: normal;">Previous Referrals</span>
        <div class="is-centered">
            <table class="table" style="width: 65%; margin-left: auto; margin-right: auto">
                <thead>
                    <tr>
                        <th>Student Name</th>
                        <th>Teacher Name</th>
                        <th>Date</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var previousReferral in Model.PreviousReferrals)
                    {
                        <tr>
                            <td>@previousReferral.StudentFullName</td>
                            <td>@previousReferral.TeacherFullName</td>
                            <td>@previousReferral.DateIssuedString</td>
                            <td>@previousReferral.DescriptionTruncated</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>