@model AGGS.Data.ViewModels.GradesVM

<div id="input">
    <h1 class="title" style="font-weight: normal;">Viewing class grades for <span class="has-text-weight-bold">@Model.ClassName</span></h1>
    <hr>
    <div class="" style="margin-bottom: 2rem;">
        <div class="table-container">
            <table id="grades" class="table is-fullwidth is-narrow gradesTable">
                <thead>
                    <tr>
                        <th width="10%">Student Name</th>
                        <th>Average</th>
                        @foreach (var assignment in Model.ClassAssignments)
                        {
                            <th>@assignment.AssignmentName</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @for (int studentIndex = 0; studentIndex < Model.EnrolledStudents.Count; studentIndex++)
                    {
                        <tr>
                            <td>@Model.EnrolledStudents[studentIndex].StudentFullName</td>
                            <td>100%</td>
                            @for (int assignmentIndex = 0; assignmentIndex < Model.ClassAssignments.Count; assignmentIndex++)
                            {
                                <td>
                                    <input maxlength="3" value="@Model.StudentGrades[assignmentIndex + (studentIndex * Model.ClassAssignments.Count)].GradeValue" name="@Model.StudentGrades[assignmentIndex + (studentIndex * Model.ClassAssignments.Count)].GradeId" class="input" style="width: 5rem" max="100" />
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
            <div id="saving"></div>
        </div>
    </div>
</div>